@model string

<h1>You failed </h1>

<h3>@Model</h3>

<img src="~/Images/Failure.jpg" /> 

<div class="btn-spacer">
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Index">Go Back to the Start</a>
</div>