
<p>This is a demo</p>

<div class="timer-container">
    <div class="timer float-right">

    </div>
</div>

<div class="description"> <p>Below you will be presented with a situations and will have to choose the correct outcome</p></div>

<div class="btn-spacer">
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Index">Go Back</a>
</div>