
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Eye Doc Trainer</h1>
    <div><a class="btn btn-spacer btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Demo">Demo</a></div>
    <a class="btn btn-spacer btn-primary btn-lg" href="@Url.Action("Scene", "Game", new { pathToScene = "WaitingRoom" })">Start</a>
</div> 
