
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Eye Doc Trainer</h1>
    <div class="btn-spacer">
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Demo">Demo</a>
    </div>
    <div class="btn-spacer">
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Game" asp-action="Scene">Start</a>
    </div>  
</div> 
